<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snippets Api</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <main>
      <h2>Code Snippet</h2>
      <div class="filters">
        <h4>Filter op taal:</h4>
        <select name="taalFilter" id="taalFilter" class="taal">
          <option value="Alle">-Alle-</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Python">Python</option>
          <option value="SQL">SQL</option>
          <option value="Go">Go</option>
          <option value="Rust">Rust</option>
          <option value="C++">C++</option>
          <option value="Bash++">Bash++</option>
          <option value="Swift">Swift</option>
        </select>
        <h4>Filter op tags:</h4>
        <select name="tagsFilter" id="tagsFilter" class="tags">
          <option value="async">async</option>
          <option value="fetch">fetch</option>
          <option value="JavaScript">JavaScript</option>
          <option value="list">list</option>
          <option value="comprehension">comprehension</option>
          <option value="Python">Python</option>
          <option value="http">http</option>
          <option value="server">server</option>
          <option value="React">React</option>
          <option value="component">component</option>
          <option value="SQL">SQL</option>
          <option value="database">database</option>
          <option value="query">query</option>
          <option value="goroutine">goroutine</option>
          <option value="concurrency">concurrency</option>
        </select>
      </div>
      <table id="snippetsTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Code Snippet</th>
            <th>Language</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>testtitle1</td>
            <td>codesnip test hehe</td>
            <td>C#</td>
            <td>API, FETCH</td>
            <td>
              <button class="red" id="deleteBtn" data-id="">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
